<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="93dd95">  <td>18/10/25 10:09:33</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.Login()[pri:0, instance:week6Day2Assign.CreateLeadTestCase@6d7b4f4c]">&gt;&gt;Login</td> 
<td>&nbsp;</td>  <td>main@1663166483</td>   <td></td> </tr>
<tr bgcolor="93dd95">  <td>18/10/25 10:09:33</td>   <td>-21</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeclass()[pri:0, instance:week6Day2Assign.CreateLeadTestCase@6d7b4f4c]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1663166483</td>   <td></td> </tr>
<tr bgcolor="93dd95">  <td>18/10/25 10:09:33</td>   <td>-41</td> <td title="&gt;&gt;ProjectMethods.beforesuite()[pri:0, instance:week6Day2Assign.CreateLeadTestCase@6d7b4f4c]">&gt;&gt;beforesuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1663166483</td>   <td></td> </tr>
<tr bgcolor="93dd95">  <td>18/10/25 10:09:33</td>   <td>-30</td> <td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforetest()[pri:0, instance:week6Day2Assign.CreateLeadTestCase@6d7b4f4c]">&gt;&gt;beforetest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1663166483</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>18/10/25 10:09:43</td>   <td>9850</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLeadTestCase.createLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week6Day2Assign.CreateLeadTestCase@6d7b4f4c]">createLead</td> 
  <td>main@1663166483</td>   <td></td> </tr>
</table>
